.hi {
	animation: pulse 0.25s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1) translateX(-2px);
  }
  70% {
    transform: scale(1.3) translateX(-2px) rotate(3deg);
  }
  100% {
    transform: scale(1) translateX(-2px);
  }
}

#underline svg > path {
	clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	animation: reveal-underline 0.25s ease-in 0.30s 1 normal forwards;
}

@keyframes reveal-underline {
  100% {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

span#period {
	transform: scale(0);
	opacity: 0;
	animation: reveal 0.2s ease-in 0.75s 1 normal forwards;
}

@keyframes reveal {
  50% {
		transform: scale(1.3);
		/* opacity: 1; */
  }
  100% {
		transform: scale(1);
		opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hi, #underline svg > path, span#period  {
    animation: none;
  }

	span#period {
		opacity: 1;
	}
}
