html, body {
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
 
.ReactModal__Content {
  transform: translateY(50px);
  transition: transform 500ms ease-out;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(50px);
}
