.project-cards {
	/* transform: scale(0.98); */
	transform: scale(0.98);
}

.project-cards:hover {
	transform: scale(1);
}

@media (prefers-reduced-motion: reduce) {
  .project-cards:hover {
    transform: none;
  }
}
